
<!doctype html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/common/bootstrap-4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/common/dashboard.css" rel="stylesheet">
<!--    <link href="/css/carousel.css" rel="stylesheet">-->

    <style type="text/css">
        /*下面两个css用于控制登录表单显示在页面正中间*/
        html, body {
            height: 100%;
        }
        body{
            display: flex;
        }
    </style>
</head>


<body class="text-center" >
<form class="form-signin" id="form-signin" action="/login" method="POST">
    <img class="mb-4" src="" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">请先登录再执行操作</h1>
    <label  style="color: red" id="msg" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></label>
    <label for="inputUserName" class="sr-only">账号</label>
    <input type="text" id="inputUserName" class="form-control" name="username" placeholder="请输入账号" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="请输入密码" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="remember-me" checked="checked"/> 记住我
        </label>
        <br/>
        <label>
            <a href="/common/registerUser/registerUserPage">还没有账号?来注册一个吧!</a>
        </label>
    </div>
    <button  class="btn btn-lg btn-primary btn-block " id="btn_login" type="submit" >登录</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>

<script src="/js/common/jquery.min.js"></script>
<script src="/js/common/popper.min.js"></script>
<script src="/js/common/login.js"></script>
<script src="/css/common/bootstrap-4.1.1/dist/js/bootstrap.min.js"></script>
<script src="/js/common/holder.min.js"></script>

<!-- Icons -->
<script src="/js/common/feather.min.js"></script>
</body>
</html>
