<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="shopLeftBar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link " href="/admin/shop/ManagementPage">
                    <span class="glyphicon glyphicon-home"></span>
                    店铺管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/productCategory/productCategoryManagementPage">
                    <span class="glyphicon glyphicon-th-list"></span>
                    分类管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class=""></span>
                    预留模块
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class=""></span>
                    预留模块
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class=""></span>
                    预留模块
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class=""></span>
                    预留模块
                </a>
            </li>
        </ul>


    </div>
</nav>


</body>
</html>
