<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingguanzhang.dealsites.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.kingguanzhang.dealsites.pojo.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_category_id" jdbcType="INTEGER" property="productCategoryId" />
    <result column="product_desc" jdbcType="VARCHAR" property="productDesc" />
    <result column="img_addr" jdbcType="VARCHAR" property="imgAddr" />
    <result column="normal_price" jdbcType="INTEGER" property="normalPrice" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <!--mybatis的级联查询-->
    <association property="shop" column="shop_id" select="com.kingguanzhang.dealsites.dao.ShopMapper.selectByPrimaryKey" javaType="com.kingguanzhang.dealsites.pojo.Shop" />
    <association property="productCategory" column="product_category_id" select="com.kingguanzhang.dealsites.dao.ProductCategoryMapper.selectByPrimaryKey" javaType="com.kingguanzhang.dealsites.pojo.ProductCategory" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    product_id, product_name, product_category_id, product_desc, img_addr, normal_price, 
    priority, create_time, edit_time, enable_status, shop_id
  </sql>
  <select id="selectByExample" parameterType="com.kingguanzhang.dealsites.pojo.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kingguanzhang.dealsites.pojo.ProductExample">
    delete from tb_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kingguanzhang.dealsites.pojo.Product" useGeneratedKeys="true" keyColumn="product_id" keyProperty="productId">
    insert into tb_product (product_id, product_name, product_category_id, 
      product_desc, img_addr, normal_price, 
      priority, create_time, edit_time, 
      enable_status, shop_id)
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productCategoryId,jdbcType=INTEGER}, 
      #{productDesc,jdbcType=VARCHAR}, #{imgAddr,jdbcType=VARCHAR}, #{normalPrice,jdbcType=INTEGER}, 
      #{priority,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, 
      #{enableStatus,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kingguanzhang.dealsites.pojo.Product" useGeneratedKeys="true" keyColumn="product_id" keyProperty="productId">
    insert into tb_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productCategoryId != null">
        product_category_id,
      </if>
      <if test="productDesc != null">
        product_desc,
      </if>
      <if test="imgAddr != null">
        img_addr,
      </if>
      <if test="normalPrice != null">
        normal_price,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="enableStatus != null">
        enable_status,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productDesc != null">
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="imgAddr != null">
        #{imgAddr,jdbcType=VARCHAR},
      </if>
      <if test="normalPrice != null">
        #{normalPrice,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null">
        #{enableStatus,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kingguanzhang.dealsites.pojo.ProductExample" resultType="java.lang.Long">
    select count(*) from tb_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_product
    <set>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productCategoryId != null">
        product_category_id = #{record.productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.productDesc != null">
        product_desc = #{record.productDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.imgAddr != null">
        img_addr = #{record.imgAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.normalPrice != null">
        normal_price = #{record.normalPrice,jdbcType=INTEGER},
      </if>
      <if test="record.priority != null">
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editTime != null">
        edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enableStatus != null">
        enable_status = #{record.enableStatus,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_product
    set product_id = #{record.productId,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      product_category_id = #{record.productCategoryId,jdbcType=INTEGER},
      product_desc = #{record.productDesc,jdbcType=VARCHAR},
      img_addr = #{record.imgAddr,jdbcType=VARCHAR},
      normal_price = #{record.normalPrice,jdbcType=INTEGER},
      priority = #{record.priority,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      enable_status = #{record.enableStatus,jdbcType=INTEGER},
      shop_id = #{record.shopId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingguanzhang.dealsites.pojo.Product">
    update tb_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null">
        product_category_id = #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productDesc != null">
        product_desc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="imgAddr != null">
        img_addr = #{imgAddr,jdbcType=VARCHAR},
      </if>
      <if test="normalPrice != null">
        normal_price = #{normalPrice,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null">
        enable_status = #{enableStatus,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingguanzhang.dealsites.pojo.Product">
    update tb_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_category_id = #{productCategoryId,jdbcType=INTEGER},
      product_desc = #{productDesc,jdbcType=VARCHAR},
      img_addr = #{imgAddr,jdbcType=VARCHAR},
      normal_price = #{normalPrice,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      enable_status = #{enableStatus,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>

  <update id="updateProductCategoryIdToNullByProductCategoryId" parameterType="java.lang.Integer">
    update tb_product
    set
      product_category_id = null ,
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>