<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div class=" text-center" style="margin-top: 6px" th:fragment="fastJump">
        <h3 >快速导航</h3>
    <div class="row col-12" style="padding-right: 0px">
        <div class="col-xs-6 col-sm-4" style="padding-right: 0px">
            <a href="/seller/shop/shopManagementPage"> 店铺管理 </a>
            <a href="/seller/product/managementPage1"> 商品管理 </a>
        </div>
        <div class="col-xs-6 col-sm-4" style="padding-right: 0px">
            <a href="#"> 预留模块 </a>
            <a href="#"> 预留模块 </a>
        </div>
        <div class="col-xs-6 col-sm-4" style="padding-right: 0px">
            <a href="#"> 预留模块 </a>
            <a href="#"> 预留模块 </a>
        </div>
    </div>
</div>


</body>
</html>
