<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="shopLeftBar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link " href="/seller/shop/shopManagementPage">
                    <span class="glyphicon glyphicon-home"></span>
                    店铺管理 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seller/product/managementPage1">
                    <span class="glyphicon glyphicon-glass"></span>
                    商品管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="glyphicon glyphicon-plane"></span>
                    预留模块
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    预留模块
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="glyphicon glyphicon-bell"></span>
                    预留模块
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>预留模块</span>

        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                    预留模块
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="glyphicon glyphicon-envelope"></span>
                    预留模块
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="glyphicon glyphicon-phone-alt"></span>
                    预留模块
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="glyphicon glyphicon-flag"></span>
                    预留模块
                </a>
            </li>
        </ul>
    </div>
</nav>


</body>
</html>
