<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div class=" text-center" style="margin-top: 6px" th:fragment="fastJump">
        <h3 >快速导航</h3>
    <div class="row col-12" style="padding-right: 0px">
        <div class="col-xs-6 col-sm-4" style="padding-right: 0px">
            <a href="/buyer/cart"> 购物车 </a>
            <a href="/buyer/showFavoritePage"> 收藏夹 </a>
        </div>
        <div class="col-xs-6 col-sm-4" style="padding-right: 0px">
            <a href="#"> 账号信息 </a>
            <a href="#"> 查看快递 </a>
        </div>
        <div class="col-xs-6 col-sm-4" style="padding-right: 0px">
            <a href="#"> 查看消息 </a>
            <a href="#"> 客户服务 </a>
        </div>
    </div>
</div>


</body>
</html>
